<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="public-container">
    <h1>Welcome to Our Service</h1>
    <div class="link-group">
        <a class="btn" th:href="@{/login}">Login</a>
        <a class="btn" th:href="@{/signup}">Sign Up</a>
        <a class="btn" th:href="@{/forgot-password}">Forgot Password</a>
    </div>
</div>
<!--<script src="/js/scripts.js"></script>-->
</body>
</html>
